name: Post comment
on:
  workflow_run:
    workflows: ["Query help preview"]
    types:
      - completed

permissions:
  pull-requests: write

jobs:
  post_comment:
    runs-on: ubuntu-latest
    needs: qhelp
    steps:
      - name: Download artifact
        uses: dawidd6/action-download-artifact@af92a8455a59214b7b932932f2662fdefbd78126
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          workflow_conclusion: success
          name: comment
      - run: |
          PR=$(grep -o '^[0-9]\+$' pr.txt)
          cat comment.txt | gh pr comment "${PR}" --repo "${{ github.repository }}" -F -
        env:
          GITHUB_TOKEN: ${{ github.token }}
